<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/NavBar.css" rel="StyleSheet">
  <link rel="stylesheet" href="./css/commonStyles.css">
  <script defer src="./js/ProfileSVG.js"></script>
  <script defer type="module" src="./js/MetaMaskAPI.js"></script>
  <script defer type="module" src="./js/BrowserRuntime.js"></script>
  <script defer type="module" src="./js/HtmlDocumentVariables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
  <title>Barter Kingdom</title>
