<%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container">
    <!-- Our Story
    <div class="section">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="section"></div> -->

    <h1>What is 'Beth Kavod'?</h1>
    <p>Beth Kavod is the house of God, where he dwells everyone dwells.</p>
    <p></p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>